/* DOCUMENTO CSS PRINCIPAL                             */
/* Desarrollado para: CPA VISION                       */
/* Producto: Nuevo Front Productos CPA                 */
/* Autor: Eder Bermudez                                */
/* Fecha: OCTUBRE 2024                                 */
/* Nota: Clases nuevas y modificaci{on de Boostrap 5.3 */
/* * *  MODIFICACION BOOSTRAP 5.3 * * */
/* -- TABLA DE CONTENIDOS ------------------------
*     1. TIPOGRAFIAS
*       1.1 Google Fonts
*       1.2 CPA Social Media Icons
*       1.3 CPA Header Icons
*       1.4 CPA File Extensions Icons
*     2. VARIABLES
*       2.1 Root
*       2.2 SCSS
*     3. PLANTILLA
*       3.1 HTML
*       3.1 Titulos
*     4. TEXTOS
*     5. BOTONES
*     6. FORMULARIO
----------------------------------------------- */
/* #### 1. TIPOGRAFIAS ################ */
/* -------- 1.1 Google Fonts -------- */
/* Roboto y Oswald */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* -------- 1.2 CPA Social Media Icons Font -------- */
/* -------- 1.3 CPA Header Icons -------- */
@import url("./../libs/icons-cpa-headers/css/cpa-headers.css");
/* -------- 1.4 CPA File Extensions Icons -------- */
@import url("./../libs/icons-cpa-files/css/cpa-files.css");
/* -------- 1.4 CPA File Extensions Icons -------- */
@import url("./../libs/icons-propuestas/css/propuestas.css");
/* #### 2. VARIABLES ################ */
/* -------- 2.1 Root -------- */
:root {
  --color-primary-primary: #1F4FB2;
  --color-primary-hover: #003491;
  --color-primary-alpha: rgba(31, 79, 178, 0.1);
  --color-primary-50: #E6E9F5;
  --color-primary-100: #C0C9E8;
  --color-primary-200: #97A6D8;
  --color-primary-300: #6C84C8;
  --color-primary-400: #4A69BD;
  --color-primary-600: #1747A8;
  --color-primary-700: #043E9D;
  --color-primary-900: #00237C;
  --color-secondary-secondary: #68768A;
  --color-secondary-hover: #3A424D;
  --color-secondary-alpha: rgba(104, 118, 138, 0.1);
  --color-secondary-50: #EDEEF0;
  --color-secondary-100: #D1D6DB;
  --color-secondary-200: #B3BAC4;
  --color-secondary-300: #959FAD;
  --color-secondary-400: #7E8A9B;
  --color-secondary-600: #5B6879;
  --color-secondary-700: #4A5463;
  --color-secondary-900: #282E36;
  --color-success-success: #32AE27;
  --color-success-hover: #007C00;
  --color-success-alpha: rgba(50, 174, 39, 0.1);
  --color-success-50: #E7F5E5;
  --color-success-100: #C5E6C0;
  --color-success-200: #9FD698;
  --color-success-300: #76C66D;
  --color-success-400: #56BA4C;
  --color-success-600: #279F1E;
  --color-success-700: #178D10;
  --color-success-900: #005E00;
  --color-danger-danger: #E74D3C;
  --color-danger-hover: #B9352E;
  --color-danger-alpha: rgba(231, 77, 60, 0.1);
  --color-danger-50: #FDEBEE;
  --color-danger-100: #FACED2;
  --color-danger-200: #E79C9B;
  --color-danger-300: #DA7775;
  --color-danger-400: #E35A54;
  --color-danger-600: #D8443A;
  --color-danger-700: #C63B34;
  --color-danger-900: #A92D24;
  --color-warning-warning: #F4BC1B;
  --color-warning-hover: #F28D0F;
  --color-warning-alpha: rgba(244, 188, 27, 0.1);
  --color-warning-50: #FFF8E1;
  --color-warning-100: #FBEAB4;
  --color-warning-200: #F9DD83;
  --color-warning-300: #F7D153;
  --color-warning-400: #F5C630;
  --color-warning-600: #F3AF15;
  --color-warning-700: #F39D12;
  --color-warning-900: #F16F0B;
  --color-info-info: #38A6EA;
  --color-info-hover: #2B75B3;
  --color-info-alpha: rgba(56, 166, 234, 0.1);
  --color-info-50: #E2F5FD;
  --color-info-100: #B6E4FA;
  --color-info-200: #87D2F6;
  --color-info-300: #5DC0F0;
  --color-info-400: #45B3EE;
  --color-info-600: #3498DB;
  --color-info-700: #2F85C7;
  --color-info-900: #235590;
  --color-dark-alpha: rgba(53, 62, 78, 0.1);
  --color-dark-50: #EBEDF6;
  --color-dark-100: #CDD4E0;
  --color-dark-200: #AFB7C7;
  --color-dark-300: #909BAF;
  --color-dark-400: #7A859C;
  --color-dark-500: #63718B;
  --color-dark-600: #56637A;
  --color-dark-700: #455064;
  --color-dark-800: #353E4E;
  --color-dark-900: #232A37;
  --color-ligth-alpha: rgba(244, 245, 248, 0.1);
  --color-ligth-50: #F9FAFD;
  --color-ligth-100: #F4F5F8;
  --color-ligth-200: #EDEEF1;
  --color-ligth-300: #DFE0E3;
  --color-ligth-400: #BCBDC0;
  --color-ligth-500: #9D9EA1;
  --color-ligth-600: #747578;
  --color-ligth-700: #606164;
  --color-ligth-800: #414244;
  --color-ligth-900: #202123;
  --color-shadow-05: rgba(0, 0, 0, 0.05);
  --color-shadow-10: rgba(0, 0, 0, 0.1);
  --color-shadow-20: rgba(0, 0, 0, 0.2);
  --color-shadow-30: rgba(0, 0, 0, 0.3);
  --color-shadow-40: rgba(0, 0, 0, 0.4);
  --color-shadow-50: rgba(0, 0, 0, 0.5);
  --color-shadow-60: rgba(0, 0, 0, 0.6);
  --color-shadow-70: rgba(0, 0, 0, 0.7);
  --color-shadow-90: rgba(0, 0, 0, 0.9);
  --color-estatus-correcto: #84CC16;
  --color-estatus-error: #DC2626;
  --color-estatus-entregado: #2563EB;
  --color-estatus-pendiente: #06B6D4;
  --color-estatus-procesando: #F97316 --color-estatus-calificar: #F59E0B;
  --color-estatus-correcto-100: #D9F99D;
  --color-estatus-correcto-200: #BEF264;
  --color-estatus-correcto-400: #4D7C0F;
  --color-estatus-error-100: #FECACA;
  --color-estatus-error-200: #F87171;
  --color-estatus-error-400: #991B1B;
  --color-estatus-entregado-100: #BFDBFE;
  --color-estatus-entregado-200: #60A5FA;
  --color-estatus-entregado-400: #1E40AF;
  --color-estatus-pendiente-100: #A5F3FC;
  --color-estatus-pendiente-200: #22D3EE;
  --color-estatus-pendiente-400: #0891B2;
  --color-estatus-procesando-100: #FFEDD5;
  --color-estatus-procesando-200: #FDBA74;
  --color-estatus-procesando-400: #C2410C;
  --color-estatus-calificar-100: #FEF3C7;
  --color-estatus-calificar-200: #FBBF24;
  --color-estatus-calificar-400: #D97706;
  --color-elementos-white: #FFFFFF;
  --color-elementos-025: #F4F5FA;
  --color-elementos-100: #C3CBD8;
  --color-elementos-50: #E7E9F3;
  --color-elementos-200: #9FA8B9;
  --color-elementos-400: #626F86;
  --color-elementos-500: #495872;
  --color-elementos-600: #3D4C63;
  --color-elementos-800: #1F2939;
  --color-elementos-300: #7B879C;
  --color-elementos-700: #2E3A4E;
  --color-elementos-900: #0E1623;
  --color-elementos-1000: #080D15;
  --bs-body-font-family: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
  --cpa-font-titles: "Oswald", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --cpa-icon-header: "cpa-icons";
  --cpa-icon-files: "cpa-files";
  --cpa-font-normal: 14px;
  --cpa-font-small: 12px;
  --cpa-font-xsmall: 9px;
}

/* --------  2.2 SCSS -------- */
/* #### 2. PLANTILLA ################ */
/* --------  3.1 HTML -------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.2;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  background-color: #f3f5fb;
  font-family: var(--bs-body-font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-elementos-900);
  text-align: left;
}

.wrapper {
  height: 100%;
  width: 100%;
}

/* --------  3.2 Titulos -------- */
h1 {
  color: var(--color-elementos-900);
  font-family: var(--cpa-font-titles);
  font-size: 1.75rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1 !important;
  text-transform: uppercase;
}

.body-left {
  z-index: 1000;
  bottom: 0;
  top: 0;
  position: fixed;
  width: 260px;
  min-width: 260px;
  padding-bottom: calc(var(--ct-footer-height) + .75rem);
  background: var(--color-dark-900);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* sidebar styles removed start */
.body-left .sidebar-logo {
  padding: 10px;
}
.body-left .sidebar-logo img {
  height: 50px !important;
  width: auto;
  margin: 0 auto;
  display: block;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: var(--color-dark-900);
  z-index: 100;
  transition: all 0.5s ease;
}

.sidebar.close {
  width: 50px;
}

.sidebar .main-logo {
  height: 70px;
}

.sidebar .main-logo img {
  display: block;
  padding: 10px;
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: 0 0;
  transition: all 0.5s ease;
}

.sidebar.close .main-logo img {
  pointer-events: none;
  padding: 18px 10px;
  width: 50px;
  object-fit: cover;
  object-position: 0 0;
}

.sidebar .btn-collapse {
  z-index: 100;
  width: 24px;
  height: 24px;
  border-radius: 30px;
  position: absolute;
  top: 60px;
  right: -12px;
  color: var(--color-elementos-white);
  background-color: var(--color-info-info);
  border: 0;
  transition: all 0.3s;
  outline: 1px solid;
  outline-color: var(--color-info-info);
  outline-offset: 0px;
}
.sidebar .btn-collapse:hover {
  background-color: var(--color-info-700);
  outline-color: rgba(43, 117, 179, 0);
  outline-offset: 5px;
}
.sidebar .btn-collapse span {
  font-size: var(--cpa-font-normal);
}

.sidebar.close .btn-collapse span {
  transform: scaleX(-1);
  margin-right: 2px;
}

.sidebar .nav-links {
  height: 100%;
  padding: 10px 8px 50px 10px;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  margin-bottom: 4px;
}

.sidebar .nav-links li .item-nav {
  display: flex;
  align-items: center;
  padding: 6px 6px 6px 8px;
  color: var(--color-dark-50);
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .item-nav:hover {
  background-color: var(--color-dark-700);
}

.sidebar .nav-links li .item-nav.active {
  color: var(--color-dark-900);
  background-color: var(--color-dark-50);
}

.sidebar .nav-links li .item-nav span {
  font-size: var(--cpa-font-normal);
  font-weight: 500;
  transition: all 0.4s ease;
  display: inline-flex;
  margin: 2px 2px 0 4px;
}

.sidebar.close .nav-links li .item-nav {
  padding: 6px 4px;
}

.sidebar.close .nav-links li .item-nav span {
  opacity: 0;
  pointer-events: none;
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li .submenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .submenu {
  display: block;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.one {
  width: 80%;
  margin-left: 10%;
  background-color: black;
  height: 400px;
}

.home-section {
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}

#main {
  background: #fff;
  font-size: var(--cpa-font-normal);
  
  transition: all 0.5s ease;
}

.sidebar.close ~ #body-main {
  left: 50px;
  width: calc(100% - 50px);
}

*/

#main {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 1rem;
  padding-left: calc(var(--bs-gutter-x)* 1);
  padding-right: calc(var(--bs-gutter-x)* 1);
}

header {
  height: 70px;
  padding-top: 10px 0;
}
header .user-div {
  padding-left: calc(var(--bs-gutter-x)* .25);
  padding-right: calc(var(--bs-gutter-x)* .75);
  border-left: 1px solid var(--color-elementos-100);
}
header .user-div:first-child {
  padding-left: 0;
  border-left: 0;
}
header .user-title {
  color: var(--color-elementos-300);
  font-size: var(--cpa-font-xsmall);
  text-transform: uppercase;
}
header .user-info {
  color: var(--color-elementos-700);
  font-family: var(--cpa-font-titles);
  font-size: var(--cpa-font-normal);
  text-transform: uppercase;
}

#header-icons > * {
  padding-left: calc(var(--bs-gutter-x)* 0.25);
  padding-right: calc(var(--bs-gutter-x)* 0.25);
}
#header-icons button {
  background-color: transparent;
  border: 0;
}
#header-icons button:hover i {
  color: var(--color-elementos-900);
}
#header-icons i {
  font-size: 30px;
  transition: all 0.5s;
  color: var(--color-elementos-600);
}
#header-icons .line-right {
  margin-right: calc(var(--bs-gutter-x)* 0.25);
  padding-right: calc(var(--bs-gutter-x)* 0.5);
  border-right: 1px solid var(--color-elementos-100);
}

#user-menu {
  --userMenu-font-size: var(--cpa-font-small);
  width: 260px;
  background-color: var(--color-elementos-white);
  padding: calc(var(--bs-gutter-y)* 1) calc(var(--bs-gutter-x)* 1);
  border: 1px solid var(--color-elementos-100);
  text-align: center;
}
#user-menu img.usuario-img {
  width: 90px;
  height: 90px;
  border: 1px solid var(--color-elementos-100);
  border-radius: 50%;
  object-fit: cover;
}
#user-menu p {
  margin-bottom: 0.125rem;
  color: var(--color-elementos-500);
  font-size: var(--userMenu-font-size);
}
#user-menu p.usuario-emp {
  font-weight: 600;
  text-transform: uppercase;
}
#user-menu p.usuario-nombre {
  color: var(--color-elementos-900);
  font-weight: 500;
  font-size: var(--userMenu-font-size);
}
#user-menu .usuario-perfil {
  color: var(--color-primary-primary);
  font-weight: 400;
}
#user-menu .usuario-nav {
  list-style: none;
  text-align: left;
  padding: 0;
  border-top: 1px solid var(--color-elementos-100);
}
#user-menu .usuario-nav .dropdown-item {
  padding: 0 calc(var(--bs-gutter-x)* 0.5);
  height: 28px;
  display: flex;
  align-items: center;
  font-size: var(--userMenu-font-size);
  color: var(--color-elementos-700);
  border-bottom: 1px solid var(--color-elementos-100);
  background-repeat: no-repeat;
  background-size: 0 100%;
  background-position: 0 111%;
  transition: all 0.3s ease;
}
#user-menu .usuario-nav .dropdown-item:hover {
  background-image: linear-gradient(to bottom, var(--color-dark-100) 0%, var(--color-dark-100) 100%);
  background-size: 100% 100%;
}
#user-menu .usuario-nav .dropdown-item i {
  padding-right: calc(var(--bs-gutter-x)* 0.5);
  font-size: var(--userMenu-font-size);
}
#user-menu .usuario-ultimo {
  font-style: italic;
}
#user-menu .usuario-acceso {
  text-align: left;
}

main {
  padding: var(--bs-gutter-y) 0;
}